/* -----------------------CSS RESET---------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --------------------GLOBAL STYLING-------------------- */

html,
body {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

/* ----------------HEADINGS & PARAGRAPHS----------------- */

h1 {
    color: #ffffff;
    letter-spacing: 2px;
    word-spacing: 5px;
    font-size: 2.7rem;
}

h2 {
    color: #606060;
    padding: 60px 0 15px 0;
}

h2::after {
    display: block;
    height: 2px;
    background-color: #f91918;
    content: " ";
    width: 50px;
    margin: 0 auto;
    margin-top: 15px;
}

h3 {
    color: #606060;
    padding-bottom: 40px;
    font-weight: 400;
}

p {
    color: #606060;
}


/* ------------------------LINKS------------------------- */

a {
    text-decoration: none;
}

/* ------------------------------------------------------ */
/* ------------------------HEADER------------------------ */
/* ------------------------------------------------------ */

header {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("cssImages/headerBackground.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    box-shadow: 0 2px 15px 1px #332F35;
}

.main-nav {
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25));
}

.main-nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo-container {
    margin: 10px;
}

.logo {
    font-size: 1.2rem;
    font-weight: 700;
    color: #ffffff;
}

.nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-link {
    list-style-type: none;
    margin: 0 30px;
}

.nav-link a:link,
.nav-link a:visited {
    color: #ffffff;
    padding-bottom: 4px;
    transition: border-bottom 0.2s;
}

.nav-link a:hover,
.nav-link a:active {
    border-bottom: 2px solid #f91918;
}

.showcase {
    text-align: center;
    padding-top: 150px;
}

.luxury {
    color: #f91918;
}

.showcase-sub-heading {
    font-size: 2.5rem;
    font-weight: 100;
}

.showcase-paragraph {
    color: #ffffff;
    font-weight: 100;
    width: 60%;
    margin: 20px auto;
    font-weight: 300;
    letter-spacing: 0.4px;
    word-spacing: 1px;
}

.showcase-btn:link,
.showcase-btn:visited {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 25px;
    background-color: #f91918;
    color: #ffffff;
    border-radius: 30px;
    font-weight: 300;
    transition: background-color 0.2s;
}

.showcase-btn:hover,
.showcase-btn:active {
    background-color: #d80706;
}

/* ------------------------------------------------------ */
/* --------------------ABOUT SECTION--------------------- */
/* ------------------------------------------------------ */

.about-section {
    display: flex;
}

.about-left {
    width: 50%;
    height: 580px;
    padding: 80px 0 0 60px;
    position: relative;
}

.about-right {
    width: 50%;
    text-align: center;
    padding-top: 50px;
}

.about-image {
    width: 75%;
    min-width: 200px;
    box-shadow: 5px 5px 10px 1px #5f6769;
}

.about-image-underlay {
    width: 65%;
    min-width: 200px;
    position: absolute;
    right: 20px;
    top: 200px;
    z-index: -1;
    box-shadow: 5px 5px 10px 1px #5f6769;

}

.about-paragraph {
    width: 80%;
    margin: 0 auto;
    line-height: 1.5;
    text-align: justify;
}

/* ------------------------------------------------------ */
/* --------------------ROOMS SECTION--------------------- */
/* ------------------------------------------------------ */

.rooms-section {
    background-color: #f5f5f5;
    padding-bottom: 80px;
}

.rooms-heading {
    text-align: center;
}

.rooms-images {
    display: flex;
    flex-direction: row;
    height: 300px;
}

.rooms-image-container {
    width: 33.33%;
    overflow: hidden;
    background-color: black;
}

.rooms-image {
    width: 100%;
    height: 300px;
    opacity: 0.7;
    transform: scale(1.15);
    transition: opacity 0.5s, transform 0.5s;
}

.rooms-image:hover {
    opacity: 1;
    transform: scale(1.03);
}

/* ------------------------------------------------------ */
/* ------------------SERVICES SECTION-------------------- */
/* ------------------------------------------------------ */

.services-section {
    padding-bottom: 150px;
}

.services-heading {
    text-align: center;
    padding-bottom: 50px;
}

.services-grid-container {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(4, 1fr);
    box-shadow: 5px 5px 5px 1px gray;
}

.services-grid-info {
    padding: 20px 30px;
    background-color: #f5f5f5;
}

.services-icon {
    display: inline-block;
    font-size: 2rem;
    margin: 0 0 10px 5px;
    color: #ea6810;
}

.services-grid-info p {
    font-size: 0.8rem;
    padding-top: 10px;
    color: black;
    font-weight: 300;
}

.services-image {
    width: 100%;
    display: block;
}

/* ------------------------------------------------------ */
/* ----------------TESTIMONIALS SECTION------------------ */
/* ------------------------------------------------------ */

.testimonials-section {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("cssImages/testimonialsBackground.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.testimonials-heading {
    text-align: center;
}

.testimonials-heading h2,
.testimonials-heading h3 {
    color: #ffffff;
}

.testimonials-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 30px;
}

.testimonial {
    width: 28%;
    height: 350px;
}

.testimonial-top {
    height: 50%;
    background-color: #f38f4b;
    text-align: center;
    position: relative;
}

.testimonial-paragraph {
    font-size: 0.8rem;
    color: #ffffff;
    padding: 27px 10px;
}

.upper-quotes {
    font-size: 3rem;
    display: inline-block;
    position: absolute;
    left: 10px;
    top: 0;
    color: #ffffff;
}

.lower-quotes {
    font-size: 3rem;
    display: inline-block;
    position: absolute;
    right: 10px;
    bottom: 45px;
    color: #ffffff;
}

.testimonial-bottom {
    height: 50%;
    text-align: center;
    background-color: #ffffff;
    position: relative;
}

.user-image {
    display: block;
    width: 140px;
    position: absolute;
    border-radius: 50%;
    border: 5px solid white;
    left: 50%;
    transform: translate(-50%, -40%);
    
}

.user-names {
    padding-top: 90px;
}

.user-rating {
    color: #f38f4b;
}

/* ------------------------------------------------------ */
/* --------------------CITIES SECTION-------------------- */
/* ------------------------------------------------------ */

.cities-heading {
    text-align: center;
}

.cities-container {
    display: flex;
    flex-direction: row;
}

.cities-item {
    width: 33.33%;
    padding: 40px;
    text-align: center;
}

.cities-image {
    width: 100%;
    display: block;
    margin-bottom: 25px;
    box-shadow: 2px 2px 10px 1px #f38f4b;
}

/* ------------------------------------------------------ */
/* -------------------CONTACT SECTION-------------------- */
/* ------------------------------------------------------ */

.contact-section {
    /* height: 100vh; */
    background-image: linear-gradient(rgba(250, 212, 186, 0.75), rgba(250, 212, 186, 0.75)), url("cssImages/contactBackground.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-bottom: 120px;
}

.contact-heading {
    text-align: center;
}

.contact-heading h2,
.contact-heading h3 {
    color: black;
}

.contact-form-underlay {
    width: 60%;
    height: 400px;
    margin: 0 auto;
    position: relative;
    background-color: white;
    box-shadow: 5px 5px 10px 5px gray;
    border-radius: 10px;
}

.contact-form-overlay {
    position: absolute;
    height: 80%;
    width: 40%;
    transform: translate(-30%, 12%);
    text-align: center;
    background-color: #ea6810;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 10px 5px gray;
    border-radius: 5px;
}

.contact-form-overlay h4 {
    padding: 30px;
    color: #ffffff;
    height: 25%;

}

.contact-overlay-grid {
    height: 75%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 25% 75%;
    width: 100%;
    
}

.contact-overlay-item {
    text-align: left;
}

.contact-overlay-icons {
    display: inline-block;
    font-size: 1.2rem;
    padding-top: 10px;
    color: white;
}

.contact-overlay-item p {
    font-size: 0.8rem;
    color: white;
    padding-top: 10px;
}

.main-form-container {
    width: 60%;
    float: right;
    height: 100%;

}

.contact-form {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.contact-form h4 {
    padding: 20px;
    margin: 0 auto;
    color: #606060;
}


input {
    width: 80%;
    height: 40px;
    padding: 10px;
    margin: 5px auto;
    border-radius: 10px;
}

label {
    width: 80%;
    height: 20px;
    font-size: 0.8rem;
    margin: 10px auto;
    color: #606060;
}

select {
    width: 80%;
    height: 30px;
    margin: 0 auto;
    border-radius: 5px;
    /* color: #606060; */
}

textarea {
    width: 80%;
    height: 80px;
    padding: 10px;
    margin: 10px auto;
    border-radius: 10px;
    resize: none;
}

.submit-button {
    cursor: pointer;
    width: 100px;
    height: 40px;
    padding: 10px;
    border-radius: 30px;
    background-color: #ea6810;
    color: white;
    transition: background-color 0.2s;
}

.submit-button:hover {
    background-color: #ca5a0e;
}

/* ------------------------------------------------------ */
/* ------------------------FOOTER------------------------ */
/* ------------------------------------------------------ */

.footer-top {
    background-color: #343A40;
    text-align: center;
}

.footer-branding {
    color: white;
    padding: 50px 0 20px 0;
}

.footer-links-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    padding: 10px 0 20px 0;
}

.footer-links-container li {
    margin: 0 10px;
}

.footer-links-container a:link,
.footer-links-container a:visited {
    color: white;
    padding-bottom: 5px;
    transition: border-bottom 0.2s, color 0.2s;

}

.footer-links-container a:hover,
.footer-links-container a:active {
    color: #f38f4b;
    border-bottom: 2px solid #f38f4b;

}

.social-links-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    padding: 20px 0;
}

.social-links-item{
    margin: 0 20px;
}

.social-links-item a:link,
.social-links-item a:visited {
    color: white;
    font-size: 1.2rem;
    transition: color 0.2s;
}

.facebook-icon:hover,
.facebook-icon:active {
    color: #3b5998;
}

.twitter-icon:hover,
.twitter-icon:active {
    color: #55acee;
}

.googleplus-icon:hover,
.googleplus-icon:active {
    color: #dc4e41;
}

.instagram-icon:hover,
.instagram-icon:active {
    color: #517fa4;
}


.footer-bottom {
    background-color: #212529;
    padding: 30px 0;
    text-align: center;
}

.made-by-text {
    padding-bottom: 10px;
    font-size: 0.9rem;
    color: #868E96;
}

.heart-icon {
    color: #da2d2d;
}

.maple-leaf-icon {
    color: #eb8242;
}

.copyright {
    font-size: 0.6rem;
}